<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">

    <title>Forum - Create new topic</title>

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <h1><a href="0" class="navbar-brand">Forum</a></h1>
        <form class="form-inline">
            <input type="text" class="form-control mr-3 mb-2 mb-sm-0" placeholder="Search">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</nav>
<!--/*@thymesVar id="forum" type="com.tismenetski.forums.domain.Forum"*/-->
<!--/*@thymesVar id="thread" type="com.tismenetski.forums.domain.Forum"*/-->
<!--/*@thymesVar id="comment" type="com.tismenetski.forums.domain.Forum"*/-->
<div class="container my-3">
    <nav class="breadcrumb">
        <a href="#0" class="breadcrumb-item">Board index</a>
        <a href="#0" class="breadcrumb-item">Forum category</a>
        <a href="#0" class="breadcrumb-item" th:text="${forum.name}">Forum name</a>
        <span class="breadcrumb-item active">Create new topic</span>
    </nav>
    <div class="row">
        <div class="col-12">
            <h2 class="h4 text-white bg-info mb-3 p-4 rounded">Create new topic</h2>
            <form class="mb-3"  th:action="@{/forumsNewTopic}"  method="post">
                <input type="hidden" name="id" th:value="${forum.id}" />
                <div class="form-group">
                    <label for="thread">Topic:</label>
                    <input type="text" class="form-control" th:value="${thread}" name="thread" id="thread" placeholder="Give your topic a title." required>
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" th:value="${comment}" name="comment" id="comment" rows="10" placeholder="Write your comment here." required></textarea>

                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" id="checkbox" value="notification">
                        Notify me upon replies.
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Create topic</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </form>
        </div>
    </div>
</div>
<footer class="small bg-dark text-white">
    <div class="container py-4">
        <ul class="list-inline mb-0 text-center">
            <li class="list-inline-utem">&copy: Stas Tismenetski</li>
            <li class="list-inline-utem">All right reserved.</li>
            <li class="list-inline-utem"><a href="#0">Terms of use privacy policy.</a></li>
        </ul>
    </div>
</footer>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>